@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1A2040;
  min-height: 100vh;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #1A2040;
  /* color: white; */
}
.App a {
  text-decoration: none;
  color:white
}
.App a:hover {
  font-weight: bold;
}
h1, h2, h3, h4, h5 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  /* font-size: 36px; */
}

.red {
  color:#E94B50
}

.yellow {
  color:#c9a92b
}

.white {
  color: white
}

.btn {
  font-family: 'Roboto Mono', monospace;
  -webkit-text-stroke: 0.5px black; 
  /* text-stroke: 1px black;  */
  color: white;
}

.btn-red {
  background-color:#E94B50;
}
.btn-red:hover {
  background-color:#bd3c40;
  
}
.btn-green {
  background-color:#128C7E;
}
.btn-green:hover {
  background-color:#0f7e71;
  
}

.btn-blue {
  background-color: #137AA5;
  color: white
}

.btn-blue:hover {
  background-color: #106386;
  color: white
}

.navbar{
  background-color: rgba(7, 7, 7, 0.700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0 */
}

.navbar > div {
  margin-left: 10px;
  margin-right: 10px
}

.nav-active button {
  background-color:#F2CD36;
  padding: 7px;
  font-family: 'VT323', monospace;
  font-size: 20px;
  border-radius: 1vh; 
}

.nav-inactive button {
  background-color:#c9a92b;
  padding: 5px;
  font-family: 'VT323', monospace;
  font-size: 20px;
  border-radius: 1vh; 

}
.nav-logout button {
  background-color:#E94B50;
  padding: 5px;
  font-family: 'VT323', monospace;
  font-size: 20px;
  border-radius: 1vh; 
}

.dashboard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:flex-start;
  padding-top: 12px;
}

.app-logo {
  width: 40%; 
}
.app-logo img {
  width: 90%; 
}

.main-text {
  background-color: #F2CD36;
  background-position: center;
  border-radius: 8%;
  color: black;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  width: 50%;
}

.toggle-lang > a {
  color:#137AA5;
  
}

/* .toggle-lang > a {
  color: white;
  background-color: #3F417C;
  padding: 1%;
  border-radius: 8px;
} */

.home-list{
  text-align: left;
  /* list-style-type: none */
}
.home-buttons{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.home-buttons button {
  margin-bottom: 8px; /* You can adjust the value based on your preference */
}
.btn-home{
  /* display: flex; */
  gap: 10px;
  width: 200px;
  font-size: 28px;
  
}

.registr-form {
  margin-top: 2%;
  padding-top: 2px;
  padding-bottom: 2%;
  background-color: #E94B50;
  background-position: center;
  border-radius: 10%;
  color: black;
  margin-left: 35%;
  margin-right: 35%
}

.registr-form input {
  border-radius: 1vh; 
}

.registr-form select {
  margin-top: 1px;
  margin-bottom: 3px;
  border-radius: 1vh; 

}

.btn-yellow {
  background-color: #F2CD36;
  color: black
}
/* .btn-yellow > a {
  color: white;
} */

.btn-yellow:hover {
  background-color: #c9a92b;
  color: black
}
.auth-page {
  margin-top: 2%;
  padding-top: 2px;
  padding-bottom: 2%;
  background-color:#106386;
  background-position: center;
  border-radius: 10%;
  color: black;
  margin-left: 35%;
  margin-right: 35%
}

.auth-page input {
  border-radius: 1vh; 
}


.buscadores{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  margin-bottom: 2vh;
}

.serie-btn {
  background-color: #F2CD36;
  padding: 20px;
  border-radius: 8%;
}

.serie-filter button{
  margin: 0.5%;
}


.cosplay-list-page, .cosplay-details-page {
  background-image: url("../public/OnlyPattern.png");
  min-height: 100vh; 
}

.login-page, .signup-page {
  background-image: url("../public/OnlyPattern.png");
  min-height: 85vh; 

}

.cosplayFormCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin-left: 2vh; */
  color: white;
}

.cosplayFormCard input{
 border-color: #137AA5;
 border-radius: 1vh; 
 border: 3px solid #137AA5;
 font-family: 'Roboto Mono', monospace;
}

.cosplayBoxCard {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.cosplayCard{
  /* background-color: white; */
  padding-left: 1%;
  padding-right: 1%;
  /* text-wrap: ; */
  color: black;
  margin: 2vh;
  /* background-color: #137AA5; */
   /* Set the maximum width for the cosplay card */
  
}
.cosplayCard > a {
  color: black;
}
.cosplayCard  img {
  max-width: 400px;
}

.details-name{
  padding-top: 1%;
}

.cosplay-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
 
}

.cosplay-details{
  flex: 1 0 600px; /* Set initial main size to 200px, but allow it to shrink */
  max-width: 650px;
}

.cosplay-details button {
  margin-bottom: 8px; /* You can adjust the value based on your preference */
  
}

.cosplay-det-list{
  list-style-type: none;
 /* color:#c9a92b */
}


.error-message {
  color: rgba(255, 0, 43, 0.94);
  font-weight: bold;
  align-items: center;
}

.choose-btn {
  background-color:#E94B50;
  padding: 2%;
  font-size: x-large;
}

.choose-btn:hover {
  background-color:#bd3c40;
  padding: 2%;
  font-size: x-large;
  color: white;
}

.btn > a {
  color: black;
  /* padding:2px; */
}

.profile-page, .profile-list, .profile-edit-page{
  /* background-image: url("../public/BackgroundPattern.png"); */
  background-image: url("../public/OnlyPattern.png");
  color: white;
  padding-top: 1%;
  min-height: 90vh;
}

.attendance-info {
  background-color: #137AA5;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.profile-list {
  text-align: center;
}

.profile-list li{
  list-style: none;
}

.total-users,
.data-tables {
  flex-grow: 1;
}

.total-users p {
  font-size: xx-large;
  color: white;
  font-family: 'Roboto Mono', monospace;

}
.data-tables {
  display: flex;
  justify-content: space-around;
}

.assistencia-table,
.cosplay-table {
  flex-grow: 1;
  margin-left: 10px; 
  margin-right: 10px;
}
/* 
.data-tables table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.data-tables th, .data-tables td {
  padding: 15px;
  border: 1px solid #000;
  background-color: #f2f2f2;
  font-family: 'Press Start 2P', cursive; 
}

.data-tables th {
  background-color: #d68736;
  color: #fff;
}

.cosplay-table td {
  font-weight: bold;
  color: #d68736; 
} */


table {
  border-collapse: collapse;
  /* width: 80%;  */
  margin: 10px auto; 
}

th, td {
  padding: 10px;
  border-bottom: 0.5px solid #dddddd4f; /* Fine line under each td */
  text-align: center;
}

th {
  background-color:#106386;
  color: black;

}


.profile-form {
  margin-top: 2%;
  padding-top: 4px;
  padding-bottom: 2%;
  background-color:#137AA5;
  background-position: center;
  border-radius: 10%;
  color: black;
  margin-left: 30%;
  margin-right: 30%
}

.profile-form input {
  border-radius: 1vh; 
}

.profile-form select {
  margin-top: 1px;
  margin-bottom: 3px;
  border-radius: 1vh; 
}

.cosplay-profile-info{
  background-color: #137AA5;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 8px;
  padding-bottom: 1px;
  margin-bottom: 2%;
}

.cosplay-profile-info img{
  max-height: 250px;
}

.footer {
  background-color: rgba(128, 128, 128, 0.404);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1A2040;

}
.error-page{
  background-image: url("../src/assets/bomba.png");
  background-repeat: no-repeat;
  background-position: center;
  /* padding-top: 500px; */
  color: #E94B50;
  min-height: 100vh;
}

.error-page h2 {
  padding-top: 90px;
  /* color: #c77634; */
  color: #E94B50;
  /* color: white; */
  -webkit-text-stroke: 0.3px black; 
}

.choosed-cosplay h2   {
  padding-top: 35px;
  
  color:#106386;
  /* color: white; */
  -webkit-text-stroke: 0.3px white; 
}

.choosed-cosplay{
  background-image: url("../src/assets/oh-no.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10px;
  margin-top: 25px;

  min-height: 100vh;
}

.not-found-page{
  background-image: url("../src/assets/NotFound1.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 10px;
  margin-top: 25px;
  color: #E94B50;
  min-height: 100vh;
}

.countdown-container {
  text-align: center;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #2196F3;
  padding: 1.5%;
}

.countdown-clock {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}

.countdown-segment {
  text-align: center;
}

.countdown-segment span {
  font-size: 2em;
  font-weight: bold;
  color: #2196F3;
}

.countdown-segment p {
  font-size: 1em;
  color: #757575;
  margin: 5px 0;
}

.hr-profile {
  margin-left: 30px;
  margin-right: 30px;
}
.pers-inf-profile{
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
  /* background-color: #106386;
  border-radius: 10px; */
  
}

/* .link a{
  color:#E94B50;
} */

.pers-inf-segment p{
  /* font-size: 1em; */
  margin: 5px 0;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    width: 100%; /* Stack elements vertically on smaller screens */
  }
  .main-text {
    width: 100%; /* Full width on smaller screens */
  }
  .app-logo {
    width: 100%;
  }
 
  .registr-form, .profile-form, .auth-page {
    /* width: 100%; */
    margin-left: 0%;
    margin-right: 0%
    
  }

  .attendance-info{
    margin-left: 10%;
    margin-right: 10%;
  }
  /* .buscadores {
    flex-direction: column;
  } */
  
  .cosplayBoxCard img{
    max-width: 300px; 
    
  }
  .cosplay-info img{
    margin: 0 auto;
    max-width: 300px;
    height: 300px;
  }

   .cosplay-details, .cosplay-det-list {
    margin: 0 auto;
    max-width: 300px;
    flex: 1 0 300px;
    gap: 0%;
  }

  .home-buttons{
    margin-bottom: 2%;
  }
  .cosplay-profile-info{
    background-color: #137AA5;
    margin-left: 5%;
    margin-right: 5%;
  }
  .attendance-info {
    padding-top: 10px;
    flex-direction: column; 
  }

  .data-tables {
    flex-direction: column; 
  }
 
}